body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
   
  }
header{
    color:white;
    background-color: rgb(175, 18, 18);
    height:150px;
}
.logo{
  display:flex;
}
.logo h2{
    font-family: Cursive;
    font-weight: bold;
    font-size:40px;
}
.logo img{
  width:100px;
  height:100px;
  justify-content: center;
  
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
  }
  
  .list {
    color:white;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .list a{
    color:white;
  }
  .list a:link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .list a:hover {
   
    color:rgb(11, 11, 11);
    border-bottom:3px solid rgb(246, 222, 1) ;
  }
  .intro{
    text-align: left;
    top:50%;
    left:10%;
    justify-content: center;
    
  }
  .intro img{
    width:100%;
    height:600px;
    opacity: 0.7;
    
  }
  
  
  .intro h1{
    position: absolute;
    bottom: 300px;
    left: 50px;
    font-size: 30px;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .intro h2{
    position: absolute;
    bottom: 200px;
    left: 50px;
    font-size: 30px;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .intro .btn{
    height:50px;
    width:120px;
    font-size: 15px;
    position: absolute;
    color: #FFF;
    background-color: rgb(255, 102, 0);
    border-radius: 5px;
    box-shadow: 2px 5px rgb(236, 160, 67);
    bottom: 150px;
    left: 200px;


  }
  .intro .btn:hover{
    width:150px;
    transition: width 1s;
  }
  .item0,.item1 ,.item2 ,.item3 ,.item4 ,.item5{
   
    border:1px solid black;
    border-radius: 5px;
    width:65%;
    height:200px;
    color:black;
    display:flex;
    justify-content: center;
    padding:20px;
    margin:5px;
    background-color: blanchedalmond;
    box-shadow: #2a2828;
   
  }
  .item0:hover,.item1:hover ,.item2:hover,.item3:hover ,.item4:hover ,.item5:hover{
    height:220px;
    width:70%;
    transition: height 1s ,width 1s;
    box-shadow: 5px 5px rgb(110, 102, 102);

  }
  .item0 img,.item1 img, .item2 img, .item3 img, .item4 img, .item5 img{
    height:150px;
    width:200px;
    margin:10px;

  }
  
  .item0.content,.item1.content, .item2.content, .item3.content, .item4.content, .item5.content{
    
   margin:10px;
    color:black;
  }
  .menue{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2,auto);
    padding: 10px;
    justify-items: center;
     

  }
  .Footer{
     width:100%;
      float:left;
      padding:20px 0px;
        background:rgb(175, 18, 18);
      }
  .footer{ 
    width:300px;
     padding:0px 50px;
      float:left;
    }
  .footer-h3{ font-size:18px;
     font-weight:600;
      color:#FFF;
      padding:10px 0px;
    }
  .footer-p{
     line-height:24px;
    text-align:justify;
    color:#FFF;
  }

  .footer-icons{
    list-style:none;
  }
  .footer-icons ul{
    list-style:none; 
    padding:0px;
  }
  .footer-icons ul li{
    float:left;
     padding:0px 25px 0px 5px;
      text-transform:uppercase;}
  .footer-icons ul li a{
    color:black;
     font-weight:600;
      font-size:18px;}
  .footer-icons ul li a:hover{ 
    color:#CCC;
  }
  @media only screen and (min-width: 250px) and (max-width:738px) {

    
    .menue {
     
      display:grid;
      grid-template-columns: repeat(1,auto);
      grid-template-rows: repeat(6,auto);
    

    }
    
   
  }
  @media only screen and (min-width: 740px) and (max-width:1200px) {
    
    .menue {
      
      display:grid;
      padding: 5px;
      grid-template-columns: repeat(2,auto);
      grid-template-rows: repeat(3,auto);
    

    }
    
  }
  